# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.class
target/
build/
*.jar
*.war
*.ear
dist/
node_modules/
.idea/
*.iml
.vscode/
*.log
*.tmp
*.swp
